doctype html
html
    head
    body
        img.u-avatar(src=user.avatarUrl)
        img.u-background(src=user.backgroundUrl)
        h4.profile__username=user.userName
        h4.profile__quote=user.quotemessage
        h4.profile__email=user.email
        h4.profile__quote=user.quoteMessage
        h4.profile__nickanme=user.nickName